meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="theme-color" content="#000000")
meta(property="og:type" content="website")


base(href="/")

title="Document" + " - " + `${title}`


link(rel="stylesheet", href="main.css")
