.loader
    .loader-inner
        h1.small-title.loader-split-text Hello...
        h1.small-title.loader-split-text I'm a Full Stack Developer
        h1.small-title.loader-split-text Welcome!!!
        .loader-number-wrapper
            p.small-text.loader-number 0 - #[span.number-text 0]
