nav.navigation
    .container
        a.logo.transition-link(href="/") LOGO
        .navigations-links
            a.link.navigation-link.transition-link(href="/" data-name="Home") Works
            a.link.navigation-link.transition-link(href="/about" data-name="About") About
