nav.navigation
    .container
        a.logo.transition-link(href="/") LOGO
        .navigations-links
            a.link.transition-link.active(href="/") Works
            a.link.transition-link(href="/about") About
