// flexbox
%flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

%flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
}

%flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

%half-flex {
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
}

%flex-column-center-y {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
