// splitter

.word {
  overflow: hidden;
}

.char {
  transition: all 0.3s $ease-out-expo;
}

.small-text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

// texts
.paragraph {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;

  &.bold {
    font-weight: 700;
  }
}

// text animation
[data-animation="text"] {
  .line-box {
    overflow: hidden;
  }
}
