.small-title {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
}

.medium-title {
  .char {
    font-size: 25rem;
    font-weight: bold;
    line-height: 1.2;
  }

  &-fix {
    font-size: 25rem;
    font-weight: bold;
    line-height: 1.2;
  }
}

.title {
  .char {
    font-size: 40rem;
    font-weight: bold;
    line-height: 1.2;
  }

  &-fix {
    font-size: 40rem;
    font-weight: bold;
    line-height: 1.2;
  }
}
