extends ../index.pug

block variables
    - var template = "About"

block body
    //- about bg
    .about-bg.page-bg
        img.bg-pic(data-src="/shared/bg.webp", alt="Image")
    .about
        .about-wrapper
            .about-banner
                .container
                    .about-big-text-box
                        h1.title.big-texts(data-animation="reveal") HELLO
                        h1.title.big-texts(data-animation="reveal") I'M YASH.
                    .about-banner-picture-wrapper
                        img.about-banner-picture(data-src="/shared/works/1/2.jpg", alt="Image")
                    .banner-content
                        p.paragraph(data-animation="text") I'm a web developer based in London, UK. I have a passion for creating beautiful, responsive websites and web applications. I have a strong background in front-end development and I'm always looking to learn new technologies and improve my skills.
                    .banner-content.banner-content-2
                        p.paragraph(data-animation="text") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis tellus in metus vulputate eu scelerisque felis imperdiet. Duis ut diam quam nulla porttitor massa. Elementum eu facilisis sed odio morbi. Nunc sed velit dignissim sodales ut eu sem integer. Tellus cras adipiscing enim eu turpis. Ac odio tempor orci dapibus ultrices. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper. Interdum varius sit amet mattis vulputate enim nulla aliquet. Quam adipiscing vitae proin sagittis. Odio eu feugiat pretium nibh ipsum
                    .banner-content.banner-list-wrapper
                        .list-title
                            p.paragraph.bold(data-animation="text") Tech & Tools
                        ul.banner-list
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") HTML
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") CSS
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") JavaScript
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") React
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Node.js
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Express
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") MongoDB
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Git
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Photoshop
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Illustrator
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Figma
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Invision
            .about-contact
                .container
                    .about-big-text-box
                        h1.title.big-texts(data-animation="reveal") CONTACT
                    .banner-content
                        p.paragraph(data-animation="text") I'm currently looking for new opportunities. If you have a project you'd like to discuss, please get in touch.
                    .banner-content.banner-list-wrapper
                        .list-title
                            p.paragraph.bold(data-animation="text") Contact Info
                        ul.banner-list
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Email: #[a(href="mailto:email@gmail.com") email@gmail.com ]
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Phone: #[a(href="tel:+447123456789") +44 7123 456 789]
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Linkdin : #[a(href="https://www.linkedin.com/in/yash-rajpal-1a1b5b1a3/") Yash Rajpal]
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Github : #[a(href="/" target="_blank") Yash Rajpal]
                            li.banner-list-item(data-animation="reveal")
                                p.paragraph.symbol ✹
                                p.paragraph(data-animation="text") Instagram : #[a(href="/" target="_blank") Yash Rajpal]
                    .banner-footer
                        h1.small-title ✹
                        p.paragraph.bold(data-animation="text") Thanks for stopping by!
                        p.paragraph.bold(data-animation="text") I hope you enjoyed my portfolio.
                        .line-wrapper
                        .bottom-parts
                            p.paragraph(data-animation="text") &copy; 2023 by Yash Rajpal. All rights reserved.
                            p.paragraph(data-animation="text") Made with ❤️ in India.
