extends ../index.pug

block variables
    - var template = "Home"

block body
    .home
        //- home bg
        .home-bg.page-bg
            img.bg-pic(data-src="/shared/bg.webp", alt="Image")
        .home-wrapper
            .home-slider
                .home-slider-slide
                    a.home-slider-slide-link.transition-link(href="/works/1")
                        h1.medium-title CLASH
                    .home-slider-slide-bg
                        .home-slider-slide-bg-pic-wrapper
                            img.home-slider-slide-bg-pic(data-src="/shared/works/1/banner.jpg", alt="Image")
                .home-slider-slide
                    a.home-slider-slide-link.transition-link(href="/works/2")
                        h1.medium-title NIKE
                    .home-slider-slide-bg
                        .home-slider-slide-bg-pic-wrapper
                            img.home-slider-slide-bg-pic(data-src="/shared/works/2/banner.jpg", alt="Image")
                .home-slider-slide
                    a.home-slider-slide-link.transition-link(href="/works/3")
                        h1.medium-title HP
                    .home-slider-slide-bg
                        .home-slider-slide-bg-pic-wrapper
                            img.home-slider-slide-bg-pic(data-src="/shared/works/3/banner.jpg", alt="Image")
                .home-slider-slide
                    a.home-slider-slide-link.transition-link(href="/works/4")
                        h1.medium-title ADIDAS
                    .home-slider-slide-bg
                        .home-slider-slide-bg-pic-wrapper
                            img.home-slider-slide-bg-pic(data-src="/shared/works/4/banner.jpg", alt="Image")
                .home-slider-slide
                    a.home-slider-slide-link.transition-link(href="/works/5")
                        h1.medium-title VRBO
                    .home-slider-slide-bg
                        .home-slider-slide-bg-pic-wrapper
                            img.home-slider-slide-bg-pic(data-src="/shared/works/5/banner.jpg", alt="Image")
                .home-slider-slide
                    a.home-slider-slide-link.transition-link(href="/works/6")
                        h1.medium-title MICHEL
                    .home-slider-slide-bg
                        .home-slider-slide-bg-pic-wrapper
                            img.home-slider-slide-bg-pic(data-src="/shared/works/6/banner.jpg", alt="Image")
