extends ../../index.pug
include ../../dom/index.pug

block variables
    - var template = "Work"

block body
    +template({
        id: "clash",
        title: "Clash",
        content: {
            info: "Clash is a game that I made for a school project. It's a 2D game where you have to fight against the computer. The game is made with the Unity game engine.",
            client: "School",
            date: "2019",
            role: "Game Designer, Programmer",
            tools: "Unity, C#",
            link: "www.google.com"
        },
        banner: "1",
        images: [
            "1",
            "2",
            "3",
            "4"
        ]
    })
