extends ../../index.pug
include ../../dom/index.pug

block variables
    - var template = "Work"

block body
    +template({
        id: "1",
        title: "Clash",
        content: {
            info: "Clash is a game that I made for a school project. It's a 2D game where you have to fight against the computer. The game is made with the Unity game engine.",
            client: "School",
            date: "2019",
            role:[
                "Game Design",
                "Game Development"
            ],
            tools: [
                "Unity",
                "C#",
                "Photoshop",
                "Illustrator"
            ],
            link: "www.google.com"
        },
        banner: "banner",
        images: [
            "1",
            "2",
            "3",
            "4",
            "5",
        ],
        next: {
            id: "2",
            title: "NIKE"
        }
    })
