extends ../../index.pug
include ../../dom/index.pug

block variables
    - var template = "Work"

block body
    +template({
        id: "6",
        title: "MICHEL",
        content: {
            info: "Welcome to New Member’s Day at America’s most beloved stuffy golf course, Bushwood Country Club from the iconic movie Caddyshack. Only this time around, those new members are some of the greatest athletes in the world.",
            client: "School",
            date: "2019",
            role:[
                "Game Design",
                "Game Development"
            ],
            tools: [
                "Unity",
                "C#",
                "Photoshop",
                "Illustrator"
            ],
            link: "www.google.com"
        },
        banner: "banner",
        images: [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
        ],
        next: {
            id: "1",
            title: "CLASH"
        }
    })
